/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */
header{
    top: 0;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #00356B;
    position: fixed;
    background-color: #fff;
    z-index: 100;
    padding: 6px;
  }
/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */
.collage{
    margin: 0 auto;
    width: 1500px;
    padding-top: 100px; 
    text-align: center;
  }

img {
  margin: 6px;
}